body {
	background-color: #DDD;
	color: #444;
}

header {
	margin: 35px;
}

table {
	margin: auto;
	text-align: center;
	vertical-align: center;
}

th, td {
	min-width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: center;
}

td {
	border: solid;
}

form, #alert-container {
	margin-top: 35px;
}

.btn-default {
	background-color: white;
	border: solid 1px #BBB;
}