/* https://c7.staticflickr.com/3/2950/15329065150_11c287f85d_b.jpg */


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/* Add a gray background color and some padding to the footer */

footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.w10-store-badge {
	max-width: 200px;
}