@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  src: local("Calibri"), url(/fonts/calibri.ttf) format("ttf");
}
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  src: local("Calibri Bold"), url(/fonts/calibrib.ttf) format("ttf");
}

body {
	margin: auto;
	margin-top: 60px;
	
	min-width: 400px;
	max-width: 50%;
	
	font-family: "Noto Sans";
	
	color: #444;
	background-color: #EEE;
}
h1 {
	margin-bottom: 10px;
}
hr {
	margin-top: 20px;
}

.gecko body {
	font-family: "Open Sans";
}
.chrome body {
	font-family: "Noto Sans";
}
.safari body {
	font-family: "Helvetica";
}
.ie body {
	font-family: "Calibri";
}
