/* Page */
body {
	margin: auto;
	margin-top: 60px;
	
	min-width: 800px;
	max-width: 50%;
	
	font-family: 'Open Sans';
	
	color: #444;
	background-color: #EEE;
}
h1 img {
	margin-right: 20px;
	position: relative;
	top: 22px;
}
h1 {
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
}

#menu {
	background-image: url("https://c7.staticflickr.com/3/2950/15329065150_11c287f85d_b.jpg");
	background-repeat: no-repeat;
	background-position: center;
    height: 400px;
}
#menu h1 {
	color: #EEE;
	text-align: center;
	font-size: 60px;
	padding-top: 100px;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 124px;
	overflow: hidden;
	background-color: #000;
	opacity: .9;
}
#navbar li {
	float: left;
}
#navbar a {
	display: block;
	color: #FFF;
	padding: 16px 35%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
#active {
	background-color: #111;
}
#navbar a:hover {
	background-color: #222;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
